/*Cascading Style Sheets*/

html, body{
    height: 100% !important;
    padding-bottom: 10px;
}

.navbar-text > a {
    color: inherit;
    text-decoration: none;

}

.jumbotron {
    background-image:url("images/Background.jpg");
    /*background-repeat:no-repeat;*/
    color: white;
    backgound-size: cover;
    padding:310px 0px 125px 0px;
    margin-top: 25px;
    margin-bottom: 80px;
}
